CRAFTOPIA_PORT=6587
CRAFTOPIA_INSTALL_DIR=/home/enirin/game-servers/craftopia/app
CRAFTOPIA_DATA_DIR=/home/enirin/game-servers/craftopia/data
CRAFTOPIA_BEPINEX_CONFIG_VOLUME=craftopia-bepinex-config
CRAFTOPIA_BEPINEX_PLUGINS_VOLUME=craftopia-bepinex-plugins
CRAFTOPIA_CONTAINER_PASSWORD=2525
CRAFTOPIA_MAX_PLAYERS=8
CRAFTOPIA_SERVER_NAME=Enirin Craftopia Server
CRAFTOPIA_WORLD_NAME=NoName
CRAFTOPIA_WORLD_DIFFICULTY=1
CRAFTOPIA_WORLD_GAME_MODE=1
CRAFTOPIA_HOST_MAX_PLAYERS=32
CRAFTOPIA_HOST_USE_PASSWORD=0
CRAFTOPIA_HOST_SERVER_PASSWORD=00000000
CRAFTOPIA_AUTO_SAVE_SEC=300
CRAFTOPIA_AUTO_SAVE_PER_HOUR=1
CRAFTOPIA_FORCE_UPDATE=false
CRAFTOPIA_ENABLE_MOD=false